trigger: none
pool: Infraagent 
stages:
- stage: precommit
  displayName: Pre-commit
  jobs:
  - job: Terraforminitvalfmtplan
    displayName: Terraform init val fmt plan
    steps:
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Env/dev'
        backendServiceArm: 'Infra'
        backendAzureRmResourceGroupName: 'rg-core'
        backendAzureRmStorageAccountName: 'corestoragetfstate'
        backendAzureRmContainerName: 'statefile'
        backendAzureRmKey: 'tfstate'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'validate'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Env/dev'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'custom'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Env/dev'
        outputTo: 'console'
        customCommand: 'fmt'
        environmentServiceNameAzureRM: 'Infra'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Env/dev'
        environmentServiceNameAzureRM: 'Infra'
- stage: scanning 
  displayName: tflint & tfsec scanning
  jobs:
  - job: scanningtflint
    displayName: terraform tflint
    steps:
    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: 'winget install terraformlinters.tflint --accept-source-agreements --accept-package-agreements; exit 0'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Env/dev'
  - job: scanningtfsec
    displayName: terraform tfsec
    steps:
    - task: tfsec@1
      inputs:
        version: 'v1.26.0'
        dir: '$(System.DefaultWorkingDirectory)/Env/dev'
- stage: Terraformapply
  displayName: init and Apply
  jobs:
  - job: terraforminitapply
    displayName: terraform init and apply 
    steps:
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Env/dev'
        backendServiceArm: 'Infra'
        backendAzureRmResourceGroupName: 'rg-core'
        backendAzureRmStorageAccountName: 'corestoragetfstate'
        backendAzureRmContainerName: 'statefile'
        backendAzureRmKey: 'tfstate'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'apply'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Env/dev'
        environmentServiceNameAzureRM: 'Infra'